.book-information {
    margin: 4px;
    margin-bottom: 32px;
    border: 2px solid black;
    border-radius:  12px;
    background-color: pink;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
    width: 50%;
}

.info-title {
    font-family: 'Abril_FatFace';
    font-size: 24px;
}

p {
    font-family: 'Fira_Sans';
}